:root {
  --yt-red: #ff0000;
  --background: #0f0f0f;
  --foreground: #272727;
  --chat-text-color: #f0f0f0;
  --blue: #5083ed;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
